table {
  border-collapse: collapse;
}
table th, table td {
  border-bottom: 1px solid silver;
  padding: 10px;
  white-space: nowrap;
}

.table-scroll {
  overflow: auto;
  width: 100%;
  max-height: 80vh;
}
.table-scroll tr:first-child td, .table-scroll tr:nth-child(n+1) td:first-child {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}
.table-scroll tr:first-child td {
  top: 0;
}
.table-scroll tr:nth-child(n+1) td:first-child {
  left: 0;
}
.table-scroll tr:first-child td:first-child {
  z-index: 2;
}
