// variables
:root {
  --white: #ffffff;
  --gray1: #fbfcfc;
  --gray2: #f2f4f5;
  --gray3: #eef1f3;
  --gray4: #ebeef0;
  --gray5: #e6eaed;
  --gray6: #dde2e6;
  --gray7: #c7cdd2;
  --gray8: #b1b9bf;
  --gray9: #9ba4aa;
  --gray10: #868f96;
  --gray11: #646a70;
  --gray12: #44484c;
  --gray13: #2a2c2d;
  --grey-14: #191919;
  --black: #000000;
  --blue-ocean: #00619a;
  --blue-sky: #0272b6;
  --blue-deep: #0b7dbb;
  --blue-genes: #2b9cd8;
}

// light skin
:root {
  --bg0: var(--white);
  --bg1: var(--gray2);
  --bg2: var(--gray4);
  --bg3: var(--gray8);
  --action: var(--blue-sky);
  --padding: 10px;
  --border-radius: calc(var(--padding) / 2);
}

html,
input {
  font-family: Roboto, sans-serif;
  font-size: large;
}

body {
  background-color: var(--bg1);
  padding: var(--padding);
}

wc-card {
  display: inline-block;
  transition: 0.3s;
  box-shadow: 0px 0px 0px 1px var(--bg3);
  border-radius: var(--border-radius);

  > header {
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    background-color: var(--bg2);
    padding: var(--padding);
  }

  > section {
    border-radius: var(--border-radius);
    background-color: var(--bg0);
    display: flex;
    flex-direction: column;

    > * {
      padding: var(--padding);
    }
  }
}

wc-card:hover,
wc-card:focus-within {
  box-shadow: 0 4px 8px 0 var(--bg3);
}

wc-text {
  display: flex;
  flex-direction: column;
}

label {
  display: inline-block;
  padding: calc(var(--padding) / 2);
}
input {
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: 1px solid var(--action);
  border-radius: 10px;
}

input[type="text"] {
  padding: var(--padding);
}

input[type="button"] {
  margin: var(--padding);
  background-color: var(--action);
  color: var(--white);
}

input[type="button"]:hover {
  cursor: pointer;
}

input:hover,
input:focus {
  outline: none;
  box-shadow: 0 4px 8px 0 var(--bg3);
}
